<div 
  class="background" 
  role="img" 
  aria-label="A splash image of a garden fence; in the lower third, a black-and-white cat sits on her decaying chair, staring straight at the viewer.">
</div>
<div class="gradient"></div>
<div class="body" role="main">
  <h1><i>wyrd</i></h1>

  <p>
    Kia ora. My name is 
    <a 
      class="help" 
      href="javascript:void(0);" 
      title="idk, some kind of web developer, probably?">Vicki McKay</a>. 
    I'm not sure why you're here, frankly, but please enjoy this neat picture of a cat I took a few
    years ago. (Her name is 
    <a class="help" href="javascript:void(0);" title="Fluffy tail not pictured.">Tissory</a>, 
    and she's a real sweetheart.) 
  </p>
  <h4>Contact (but <i>why?</i>)</h4>
  <p>
    <a href="mailto:hi@wyrd.nz">hi@wyrd.nz</a>
    <a href="https://www.linkedin.com/in/vicki-mckay-55442310a/" target="_blank">
      linkedin</a>
    <a href="https://github.com/qilyn/" target="_blank">
      github
    </a>
  </p>
</div>